.prof-pic {
  max-width: 70%;
}

.modal-highlight {
    padding: 2px;
    border-radius: .1em;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    white-space: nowrap;
}

.modal-img {
   max-width: 40%;
    
}

.modal-custom {
    max-width: 95%;
    overflow: visible;
}